<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.works.homework10.mapper.TProviderTransMapMapper">
  <resultMap id="BaseResultMap" type="com.works.homework10.entity.TProviderTransMap">
    <id column="MERORDERNO" jdbcType="VARCHAR" property="merorderno" />
    <result column="TRACE" jdbcType="VARCHAR" property="trace" />
    <result column="INTIME" jdbcType="TIMESTAMP" property="intime" />
    <result column="MODTIME" jdbcType="TIMESTAMP" property="modtime" />
  </resultMap>
  <sql id="Base_Column_List">
    MERORDERNO, TRACE, INTIME, MODTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_provider_transmap
    where MERORDERNO = #{merorderno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_provider_transmap
    where MERORDERNO = #{merorderno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.works.homework10.entity.TProviderTransMap">
    insert into t_provider_transmap (MERORDERNO, TRACE, INTIME, 
      MODTIME)
    values (#{merorderno,jdbcType=VARCHAR}, #{trace,jdbcType=VARCHAR}, #{intime,jdbcType=TIMESTAMP}, 
      #{modtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.works.homework10.entity.TProviderTransMap">
    insert into t_provider_transmap
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="merorderno != null">
        MERORDERNO,
      </if>
      <if test="trace != null">
        TRACE,
      </if>
      <if test="intime != null">
        INTIME,
      </if>
      <if test="modtime != null">
        MODTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="merorderno != null">
        #{merorderno,jdbcType=VARCHAR},
      </if>
      <if test="trace != null">
        #{trace,jdbcType=VARCHAR},
      </if>
      <if test="intime != null">
        #{intime,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null">
        #{modtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.works.homework10.entity.TProviderTransMap">
    update t_provider_transmap
    <set>
      <if test="trace != null">
        TRACE = #{trace,jdbcType=VARCHAR},
      </if>
      <if test="intime != null">
        INTIME = #{intime,jdbcType=TIMESTAMP},
      </if>
      <if test="modtime != null">
        MODTIME = #{modtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where MERORDERNO = #{merorderno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.works.homework10.entity.TProviderTransMap">
    update t_provider_transmap
    set TRACE = #{trace,jdbcType=VARCHAR},
      INTIME = #{intime,jdbcType=TIMESTAMP},
      MODTIME = #{modtime,jdbcType=TIMESTAMP}
    where MERORDERNO = #{merorderno,jdbcType=VARCHAR}
  </update>
</mapper>
